.board {
    outline: 2px solid rgb(124, 154, 189);
}

.row {
    height: 30px;
}

.cell {
    width: 30px;
    height: 30px;
    outline: 1px solid rgb(124, 154, 189);
    display: inline-block;
}

.snake-cell {
    background-color: green;
}

.food-cell {
    background-color: red;
}