.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10 + 2vmin);
  background-color: #282c34;
  color: #fff;
}
